.image {
    width:50px;
    height: auto;
    object-fit: contain;

    padding: 5px;
    background-color: #fff; 
}

.image:hover,
.user-avatar:hover  {
    transform: scale(1.05);
    transition: transform 0.3s ease;
}


.user-avatar {
    width: var(--user-avatar-size);
    height: var(--user-avatar-size);

    object-fit: cover;
    border-radius: 50%;
    border: 3px solid var(--accent-color);
    padding: 5px;
    background-color: #fff;
    box-shadow: var(--shadow);
}

.user-avatar:hover {
    transform: scale(1.2);
    transition: transform 0.3s ease;
}

.post-image {
    max-width: var(--post-image-size);
    max-height: var(--post-image-max-height);
    object-fit: cover;
    border-radius: 10px;
    border: 2px solid var(--accent-color);
    padding: 5px;
    background-color: #fff;
    box-shadow: var(--shadow);
}