
.avatar {
    width: var(--user-avatar-size);
    height: var(--user-avatar-size);

    object-fit: cover;
    border-radius: 50%;
    border: 3px solid var(--accent-color);
    padding: 5px;
    background-color: #fff;
    box-shadow: var(--shadow);
}

.avatar:hover {
    transform: scale(1.2);
    transition: transform 0.3s ease;
}


.postImage {

    width: 100%;  
    height: auto;     
    object-fit: cover; 
    border-radius: 10px;
    border: 2px solid var(--accent-color);
    padding: 5px;
    background-color: #fff;
    box-shadow: var(--shadow);
}

