
.feed-container {
    display: flex;
    flex-direction: column; 
    align-items: center;    
    gap: 40px;             
    
    padding-left: 50px;
    padding-right: 50px;
    margin: 0;
    list-style: none;

    box-sizing: border-box;

}

.feed-item {
    width: 100%;            
    max-width: 600px;      
    
    transition: transform 0.2s;
}