

.app-header {
    position: sticky;
    width: 100%;
    height: var(--sizeHeader);
    top:0%;
    background-color: var(--primary-color);
    display: flex;
    align-items: center;
}

.app-header h1 {
    margin: 0;
    padding-left: 1rem;
    line-height: var(--sizeHeader);
    color: white;
    font-size: 1.5rem;
    display: inline-block;
    font-weight: normal;
    text-transform: uppercase;
    
}