.clubImage {
    width: 45%;
    height: auto;
    object-fit: contain;
    border-radius: 50%;
    border: 3px solid var(--accent-color);
    padding: 5px;
    background-color: #fff;
    
    box-shadow: var(--shadow);
}




.clubImage:hover {
    transform: scale(1.05);
    transition: transform 0.3s ease;
}