:root{
    --primary-color: #ccf6f7;
    --accent-color: #ddbae0;
    --shadow: 0 4px 8px rgba(0, 0, 0, 0.1);   
}

:root{
    --user-avatar-size: 150px;
    --post-image-max-size: 500px;
    --sizeHeader: 60px;
}


:root{
    --like-button-font-size: 3rem;
    --liked: #e0245e;
    --notLiked: #657786;
}



.App {
    font-family: Arial, sans-serif;
    /* background-color: var(--primary-color); */
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 20px;
}
