.app-header {
    position: sticky;
    top: 0;
    width: 100%;
    
    display: flex;            
    justify-content: center;  
    align-items: center;    
    gap: 15px;                

    margin-bottom: 50px;

    background-color: var(--primary-color);
    color: var(--font-color);
    padding: 15px 0; 
}