:root {
  --primary-color: #2e4c7d;
  --secondary-color: #1d1348;
  --accent-color: #fdd835;
  --text-color: #1e1e1e;
  --bg-color: #e4f5ff;
  --card-bg: #ffffff;
  --shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
  --radius: 12px;
  --sizeHeader: 70px;
}

body {
  margin: 0;
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
  background-color: var(--bg-color);
  color: var(--text-color);
}

.App {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 20px;
  height: 100vh;
  box-sizing: border-box;
}

.footballClub {
  width: 80%; 
  background-color: var(--card-bg);
  border-radius: var(--radius);
  padding: 24px;
  
  display: flex;
  justify-content: space-between; 
  align-items: center;
  text-align: left;
}

.club-info-left {
  display: flex;
  flex-direction: column;
  gap: 10px;
}

.clubName {
  font-size: 2.5em;
  margin: 0;
  color: var(--primary-color);
  text-transform: uppercase;
  letter-spacing: 1px;
  font-weight: 800;
  border-radius: 8px;
  display: inline-block;
  width: fit-content;
}

.club-details p {
  margin: 5px 0;
  font-size: 1.1em;
  color: var(--secondary-color);
}

.club-logo-right {
  display: flex;
  justify-content: center;
  align-items: center;
}


.club-card {
  width: 80%;
  background-color: var(--card-bg);
  border-radius: var(--radius);
  padding: 24px;
  
  display: flex;
  flex-direction: column; 
  text-align: left;
}


.club-card h4 {
  margin-top: 0;
  border-bottom: 2px solid #eee;
  padding-bottom: 10px;
  color: var(--primary-color);
}

.achievements-grid {
  display: grid;
  grid-template-columns: repeat(3, 1fr); 
  gap: 20px;
  width: 100%;
  margin-top: 15px;
}

.achievements-grid h4 {
  margin-bottom: 10px;
  color: #555;
  text-decoration: underline;
}

.info-list {
  list-style-type: none;
  padding: 0;
  margin: 0;
}
.info-list li {
  margin-bottom: 6px;
  font-size: 1em;
  color: var(--text-color);
}